include README.md
include LICENSE
include requirements.txt
include MANIFEST.in
recursive-include pydaffodil *.py
global-exclude __pycache__
global-exclude *.py[co]
global-exclude *.so
global-exclude .DS_Store

